<!DOCTYPE html>
<html style="height:100%">
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		 crossorigin="anonymous">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		 crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		 crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		 crossorigin="anonymous"></script>
	</head>
	<body style="height:100%">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-xl-3 d-none d-lg-block d-xl-block">
					<div>
						<ul class="nav flex-column">
							<li class="nav-item" style="margin-top:20%">
								<a class="nav-link active text-dark" href="javascript:;" onclick="jump('jumbo')">
									<h2>Home</h2>
								</a>
							</li>
							<li class="nav-item" style="margin-top:30%">
								<a class="nav-link text-white bg-dark" href="javascript:;" onclick="jump('geo')">Geochart</a>
							</li>
							<li class="nav-item" style="margin-top:30%">
								<a class="nav-link text-white bg-dark" href="javascript:;" onclick="jump('bubble')">Bubble chart</a>
							</li>
							<li class="nav-item" style="margin-top:30%">
								<a class="nav-link text-white bg-dark" href="javascript:;" onclick="jump('line')">Trendline</a>
							</li>
							<li class="nav-item" style="margin-top:30%">
								<a class="nav-link text-white bg-dark" href="javascript:;" onclick="jump('map')">Map</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg col-xl">
					<div class="jumbotron jumbotron-fluid" id="jumbo" style="margin-top: 5%;">
						<div class="container">
							<h1 class="display-4">COMP90024 City Analytics</h1>
							<p class="lead">Tweets about Crimes in Australia from Twitter</p>
							<p class="lead">Data about Unemployment rates in Australia from Aurin</p>
							<p class="lead text-light bg-dark">Bang, see what's happening.</p>
							<p class="lead float-right" style="margin-top: 5%;">Team 25: Pengnan Zhao, Fangfei Zheng, Xi Chen, Jingjiahui
								Lu, Haoran Zhang</p>
						</div>
					</div>
					<div class="container d-lg-none d-xl-none" id="geo" style="margin-top: 7%;">
						<div>
							<h2 class="display-4">GeoChart</h2>
							<p class="lead">Main cities in Australia are marked with crimes and unemployment rates</p>
							<p>the color of a marker represents crimes, while the size represents unemployment rates</p>
						</div>
						<div id="geochart"></div>
					</div>
					<div class="container d-lg-none d-xl-none" id="bubble" style="margin-top: 7%;">
						<div>
							<h2 class="display-4">Bubble Chart</h2>
							<p class="lead">Main cities in Australia are represented in this chart</p>
							<p>there are three dimensions, namely, crimes, unemployment rates and populations.</p>
						</div>
						<div id="bubblechart"></div>
					</div>
					<div class="container d-lg-none d-xl-none" id="line" style="height: 70%;width: 100%;margin-top: 7%;">
						<div>
							<h2 class="display-4">Trendline</h2>
							<p class="lead">Explore the correlation between crimes and unemployment rates in Australia main cities</p>
						</div>
						<div id="linechart"></div>
					</div>
					<div class="container d-lg-none d-xl-none" id="map" style="margin-top: 7%;">
						<div>
							<h2 class="display-4">Map</h2>
							<p class="lead">Main cities in Australia are marked with the amounts of tweets we crawled</p>
						</div>
						<div id="mapchart"></div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var TWEET;
			var AURIN;
			var POPULATION;
			var TWEETNUM;
			$.ajax({
				type: "get",
				url: "/city_analysis/service",
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				data: {},
				success: function(data) {
					console.log(data);
					TWEET = data.tweet;
					AURIN = data.aurin;
					POPULATION = data.population;
					TWEETNUM = data.tweet_num;
				}
			});

			google.charts.load('current', {
				'packages': ['geochart', 'map', 'corechart'],
				'mapsApiKey': 'AIzaSyAAggrTIAXI4Y0H-qZQl6NYV8h0jIluFBs'
			});
			google.charts.setOnLoadCallback(drawMap);
			google.charts.setOnLoadCallback(drawGeoChart);
			google.charts.setOnLoadCallback(drawBubbleChart);
			google.charts.setOnLoadCallback(drawLineChart);

			function drawMap() {
				var map_data = new google.visualization.DataTable();

				map_data.addColumn('string', 'City');
				map_data.addColumn('string', 'Tweets_Number');
				
				console.log(TWEETNUM);
				for (var t in TWEETNUM) {				
					for (var key in TWEETNUM[t])
						console.log(TWEETNUM[t]);
						console.log(TWEETNUM[t][key]);
						if (TWEETNUM[t][key] != -1) {
							map_data.addRow(
								[key, 'Tweets\' Amounts: ' + TWEETNUM[t][key]]
							);
						}
				}

				var map_options = {
					mapType: 'styledMap',
					zoomLevel: 3,
					showTooltip: true,
					showInfoWindow: true,
					useMapTypeControl: true,
					mapTypeIds: ['AuMap'],
					maps: {
						AuMap: {
							name: 'Main Cities With Tweets\' Amounts in AU (2020)',
							styles: [{
									featureType: 'poi.attraction',
									stylers: [{
										color: '#fce8b2'
									}]
								},
								{
									featureType: 'road.highway',
									stylers: [{
										hue: '#0277bd'
									}, {
										saturation: -50
									}]
								},
								{
									featureType: 'road.highway',
									elementType: 'labels.icon',
									stylers: [{
										hue: '#000'
									}, {
										saturation: 100
									}, {
										lightness: 50
									}]
								},
								{
									featureType: 'landscape',
									stylers: [{
										hue: '#259b24'
									}, {
										saturation: 10
									}, {
										lightness: -22
									}]
								}
							]
						}
					},
					height: 400,
					width: 600
				};
				var map = new google.visualization.Map(document.getElementById('mapchart'));

				function ready() {
					google.visualization.events.addListener(map, 'select', handler);

					function handler() {
						var selection = map.getSelection();
						if (selection.length == 1) {
							console.log(map_data.getValue(selection[0].row, 1))
						}
					}
				}
				google.visualization.events.addListener(map, 'ready', ready);
				map.draw(map_data, map_options);
			}

			function drawGeoChart() {
				var geochart_data = new google.visualization.DataTable();

				geochart_data.addColumn('string', 'City');
				geochart_data.addColumn('number', 'Crimes');
				geochart_data.addColumn('number', 'Unemployments');

				for (var t in TWEET) {
					for (var key in TWEET[t])
						if (TWEET[t][key] != -1 && AURIN[t][key] != -1) {
							geochart_data.addRow(
								[key, TWEET[t][key], AURIN[t][key]]
							);
						}
				}
				var geo_options = {
					region: 'AU',
					displayMode: 'markers',
					colorAxis: {
						colors: ['#00853f', 'black', '#e31b23']
					},
					backgroundColor: '#81d4fa',
					datalessRegionColor: '#f8bbd0',
					height: 400,
					width: 600
				};
				var geochart = new google.visualization.GeoChart(document.getElementById('geochart'));

				function ready() {
					google.visualization.events.addListener(geochart, 'select', handler);

					function handler() {
						var selection = geochart.getSelection();
						if (selection.length == 1) {
							console.log(geochart_data.getValue(selection[0].row, 2))
						}
					}
				}
				google.visualization.events.addListener(geochart, 'ready', ready);
				geochart.draw(geochart_data, geo_options);

			}

			function drawBubbleChart() {
				var bubble_data = new google.visualization.DataTable();

				bubble_data.addColumn('string', 'City');
				bubble_data.addColumn('number', 'Population');
				bubble_data.addColumn('number', 'Crimes');
				bubble_data.addColumn('number', 'Unemployments');

				for (var t in TWEET) {
					for (var key in TWEET[t])
						if (POPULATION[t][key] != -1 && TWEET[t][key] != -1 && AURIN[t][key] != -1) {
							bubble_data.addRow(
								[key, POPULATION[t][key], TWEET[t][key], AURIN[t][key]]
							);
						}
				}
				var bubble_options = {
					title: 'Correlation between unemployment rates, crimes ' +
						'and population of Australia (2020)',
					hAxis: {
						title: 'Unemployment rates (Aurin data)'
					},
					vAxis: {
						title: 'Crimes (Tweets data)'
					},
					bubble: {
						textStyle: {
							fontSize: 14
						}
					},
					height: 400,
					width: 600
				};
				var bubblechart = new google.visualization.BubbleChart(document.getElementById('bubblechart'));
				bubblechart.draw(bubble_data, bubble_options);
			}

			function drawLineChart() {
				var line_data = new google.visualization.DataTable();

				line_data.addColumn('number', 'Crimes');
				line_data.addColumn('number', 'Unemployments');

				for (var t in TWEET) {
					for (var key in TWEET[t])
						if (TWEET[t][key] != -1 && AURIN[t][key] != -1) {
							line_data.addRow(
								[TWEET[t][key], AURIN[t][key]]
							);
						}
				}
				var line_options = {
					title: 'Crimes (tweets) vs. Unemployment rates (aurin) in main cities of AU (2020)',
					hAxis: {
						title: 'Crimes (tweets)'
					},
					vAxis: {
						title: 'Unemployment rates (aurin)'
					},
					legend: 'none',
					trendlines: {
						0: {
							color: '#666699',
							lineWidth: 7,
							opacity: 0.3,
						}
					},
					height: 400,
					width: 600
				};
				var linechart = new google.visualization.ScatterChart(document.getElementById('linechart'));
				linechart.draw(line_data, line_options);
			}
		</script>
		<script type="text/javascript">
			function jump(tag) {
				document.getElementById("jumbo").classList.add("d-lg-none", "d-xl-none");
				document.getElementById("geo").classList.add("d-lg-none", "d-xl-none");
				document.getElementById("bubble").classList.add("d-lg-none", "d-xl-none");
				document.getElementById("line").classList.add("d-lg-none", "d-xl-none");
				document.getElementById("map").classList.add("d-lg-none", "d-xl-none");
				document.getElementById(tag).classList.remove("d-lg-none", "d-xl-none");
			}

			function refresh() {
				window.location.reload();
			}
			setInterval('refresh()', 600000);
		</script>
	</body>
</html>
